nav a {
    color: #fff;
}

.navbar {
    background-color: #6cb2eb;
}

.manage-user, .cart table {
    border: 1px solid #dee2e6;
}

.manage-user tbody {
    background-color: #e6e6e6;
}

.manage-user button {
    background-color: #3390dc;
}

.cart table {
    background-color: #343a40;
    color: #fbfbfb;
}

.cart tbody {
    background-color: #f8fafc;
    color: #343a40;
}

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 20% 10% 20%;
}

.add-to-cart{
    margin-top: 5%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2vw;
    color: #fff;
    background-color: #6cb2eb;
}
